<h1><%= title %>: <%= book.title %></h1>

<% if (book_instances.length > 0) { %>
<p>
    <strong
        >Delete the following bookinstances before attempting to delete this
        book.</strong
    >
</p>
<div style="margin-left: 20px; margin-top: 20px">
    <h4>BookInstances</h4>
    <% for(const bookinstance of book_instances) {%>
    <li>
        <a href="<%=bookinstance.url%>"><%=bookinstance.book%></a>
        <p><%= bookinstance.imprint %></p>
        <p>
            <% if(bookinstance.status == "Available" ) { %>
            <span class="text-success"><%=bookinstance.status %> </span> <% }
            else if (bookinstance.status == "Mainternance") { %>
            <span class="text-danger"><%=bookinstance.status %> </span> <% }
            else { %>
            <span class="text-warning"><%=bookinstance.status %> </span><% } %>
        </p>
        <% if(bookinstance.status != "Available") { %>
        <p><strong>Due back: </strong> <%=bookinstance.due_back_formatted %></p>
        <% } %>
    </li>
    <% } %>
</div>
<% } else { %>
<p><strong>Do you really want to delete this book?</strong></p>
<form action="" method="post">
    <div class="form-group">
        <input
            id="bookid"
            class="form-control"
            type="hidden"
            name="bookid"
            required="true"
            value="book._id"
        />
    </div>
    <button class="btn btn-primary" type="submit">Delete</button>
</form>
<% } %>
